<!DOCTYPE html>
<html class="loading" lang="es" data-textdirection="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <link rel="icon" type="image/png" th:href="@{fonts/logo.png}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
        <link rel="manifest" th:href="@{/manifest.json}"/>
        <title>LaTíaMarta</title>
        <!-- Bootstrap core CSS-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link th:href="@{/vendor/bootstrap-4.6/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <script th:src="@{/vendor/font-awesome/font-awesome-5.js}" type="text/javascript"></script>

        <!--fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light color-menu-header menu-texto fixed-top pt-1 pb-1" id="menu">
            <div class="container header">
                <button class="navbar-toggler p-0" id="boton-menu" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-nav">
                    <li  class="nav-item" >
                    <a href="#" id="logo" class="nav-link"><img th:src="@{fonts/logo.png}" width="30" height="30" alt=""/>
                       <span>LaTíaMarta</span>
                    </a>
                    </li>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"/></ul>
                    <hr class="m-0"/>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link pt-2 pb2">
                                <i class="fas fa-user-circle"></i> 
                                <span class="mr-1" sec:authentication="name"/>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-2 pb2" href="/logout">
                                <i class="fa fa-sign-out"></i>
                                <span>Cerrar sesión</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Navbar-->
        <div id="wrapper">
            <div id="content-wrapper">

                <!-- Contenido de componentes -->
                <div id="app" class="container app-content content pl-0 pr-0">
                    <div class="content-body color-fondo">
                        <th:block layout:fragment="content"></th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-texto">
                <div class="d-flex justify-content-center">
                    <h1>
                        <a class="footer-link" href="https://www.instagram.com/latiamartaargentina/?hl=es" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </h1>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <span>LaTiaMarta © <span th:text="${anioActual}"></span></span>
                </div>
            </div>
        </div>

        <script th:src="@{/vendor/vue/vue.js}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script th:src="@{/vendor/bootstrap-4.6/js/bootstrap.min.js}" type="text/javascript"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script th:src="@{/vendor/chart/Chart.min.js}" type="text/javascript"></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

        <script th:src="@{/js/service.js}"></script>
        <th:block layout:fragment="scripts"></th:block>
        <script th:src="@{/js/app.js}"></script>
    </body>
</html>