/*Para ocultar flechas en input numérico en Chrome*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tamanio-texto-mini {
    font-size: 0.75rem;
    color: #808080ba;
}

#logo {
    color: rgba(0,0,0,.9);
}

.app-content {
    padding-top: 3.5rem;
}

.posicion-spinner {
    height: 50vh;
}

.logo-link:focus {
    box-shadow: 0 0 0 0;
}

/*Para ocultar flechas en input numérico en Firefox*/
input[type="number"] {
    -moz-appearance: textfield;
}
table {
    background-color: white;
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 0.6rem;
}

.modal-content {
    border-radius: 0.6rem;
}

.collapse-activo:focus {
    box-shadow : none;
}

.menu-texto {
    font-size: 18px;
}

#boton-menu {
    outline: aliceblue;
    border-color: rgba(0,0,0,0);
}

.table td, .table th {
    vertical-align: baseline;
}

body {
    font-family: 'Roboto', sans-serif;
}

.form-login-registrarse {
    width: 315px;
    margin: 0 auto;
}

.spinner {
    width: 2rem;
    height: 2rem;
}

.titulo-activo {
    color: #495057;
}

.toast-custom {
    top: calc(100vh - 59px);
    color: white;
    left: 1.9rem;
    position: fixed;
}

.duracion-traslado-navbar {
    transition-duration: 0.2s;
}

.grosor-titulos {
    font-weight: 400;
}

.fa-clickable {
    cursor:pointer;
}
.container, section {
    min-height: 100vh;
}

#menu {
    box-shadow: 0rem -0.01rem 1rem rgba(0,0,0,.1)!important;
}

.texto-titulos {
    color: #615a5aba;
}

.btn {
    font-weight: bold !important;
}

.btn-primary {
    background-color: #9982ed !important;
    border-color: #9982ed !important;
    font-weight: bold !important;
    font-size: 0.85rem;
}

/*INICIO --- BOTONES ACCION POR ACTIVO*/

.boton-acciones {
    border-radius: 3rem !important;
}

.btn-primary:focus {
    background-color: #afaef5 !important;
    border-color: #afaef5 !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #afaef5 !important;
    border-color: #afaef5 !important;
}

.btn-primary:hover {
    background-color: #afaef5 !important;
    border-color: #afaef5 !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(217 216 252 / 50%) !important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(217 216 252 / 50%) !important;
}

/*END --- BOTONES ACCION POR ACTIVO*/

.boton-mobile-accion {
    font-size: 1rem !important;
}
 
@media all and (max-width:480px) {
    .contenedor-titulo {
        display: none;
    }

    .total-activos {
        padding-top: 16px;
    }

    .card-detalle-activos {
        height: 100%;
    }

    .lista-activos {
        padding-bottom: 4.5rem;
    }

    .boton-nueva-inversion, .boton-oculto {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: white;
        box-shadow: 0rem -0.01rem 1rem rgba(0,0,0,.1)!important;
        padding: 1rem;
    }

    .toast-custom {
        top: calc(100vh - 46px);
        color: white;
        left: 0;
        width: -webkit-fill-available;
        max-width: none;
        position: fixed;
    }

    .boton-mobile-accion {
        width: 100%;
        display:block;
    }

    .resumen-grafico {
        display:block;
    }

    .grafico {
        margin-top: 16px;

    }

    .footer {
        display: none;
    }

    #porcentajesActivos {
        min-width: 150px;
        min-height: 150px;
        max-width: 832px;
    }
}

.info-general {
    width: 326px;
}

#porcentajesActivos {
    max-width: 750px;
}

.tamanio-fuente-tabla-movimientos {
    font-size: 0.7rem;
}

.container.header {
    min-height: 0;
}

.footer {
    background-color: #495057;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer-texto {
    color: lightgray;
}

.footer-link:hover {
    text-decoration: none;
    color: lightgray;
}

.footer-link {
    color: lightgray;
}

.color-menu-header {
    background-color: #ffffff !important;
}

.tamanio-olvidaste-contrasenia {
    font-size: 0.8rem;
}

.input-actualizacion {
    text-align: end;
}

.scroll-input-transacciones {
    height: 19.69rem;
    overflow-x: hidden;
    overflow-y: auto;
}