<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="icon" type="image/png" th:href="@{fonts/logo.png}"/>
        <title>LaTíaMarta - Inicia sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/bootstrap-4.6/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

        <!--fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    </head>
    <body>

        <div class="form-login-registrarse">
            <div class="text-center mt-4">
                <img th:src="@{/fonts/logo.png}" width="50" height="50" alt=""/>
            </div>
            <h4 class="text-center mt-4">LaTíaMarta</h4>
            <div class="card border-light mt-4 pt-3 pl-4 pr-4 pb-2 mb-3">
                <div>
                    <form action="#" th:action="@{/login}" method="post">
                        <div class="form-group alert alert-success text-left" role="alert" th:if="${param.reseteo}">
                            Tu contraseña se ha reseteado con éxito.
                        </div>
                        <div class="form-group alert alert-danger text-left" role="alert" th:if="${param.error}">
                            Nombre de usuario o contraseña inválida, volvé a intentar.
                        </div>
                        <div class="form-group alert alert-info text-left" role="alert" th:if="${param.bloqueado}">
                            Solo te falta revisar tu correo para confirmar tu cuenta.
                        </div>
                        <div class="form-group mt-3 alert alert-success text-left" role="alert" th:if="${param.registro}">
                            Acabas de crear tu cuenta!! ya podés loguearte! :)
                        </div>
                        <div class="form-group mt-3 alert alert-danger text-left" role="alert" th:if="${param.registroError}">
                            Hubo un problema al intentar verificar tu cuenta, por favor, revisa tu email.
                        </div>

                        <div class="form-group">
                            <label><b>Usuario</b></label>
                            <input type="text" name="username" class="form-control" autofocus="autofocus" required/>
                        </div>

                        <div class="form-group pb-0 mb-3">
                            <label><b>Contraseña</b><a class="ml-2 tamanio-olvidaste-contrasenia" tabindex="-1" href="/recuperacion-password/email">¿Olvidaste tu contraseña?</a></label>
                            <input type="password" name="password" class="form-control" required/>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary form-control" value="Ingresa"/>
                        </div>

                        <div class="form-group alert alert-primary text-center" role="alert" th:if="${param.logout}">
                            Acabas de salir :(, volvé pronto!
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </body>
</html>